@model List<ApiDoc.Models.ParamModel>
<table class="table table-sm no-gutters m-0">
    <thead class="bg-light">
        <tr>
            <th class="border-top-0 border-bottom-0 py-2">Key</th>
            <th class="border-top-0 border-bottom-0 py-2">Value</th>
            <th class="border-top-0 border-bottom-0 py-2">DESCRIPTION</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            foreach (ParamModel param in Model)
            {
                <tr class="border-bottom">
                    <td>@param.ParamName</td>
                    <td> 
                        @if (param.DataType.ToLower() == "image")
                        {
                            <input id="cs_@param.ParamName" type="file" class="form-control form-control-file form-control-sm"  />
                        }
                        else if (param.DataType.ToLower() == "int")
                        {
                            <input id="cs_@param.ParamName" type="text" class="form-control form-control-sm" onkeyup="this.value=this.value.replace(/\D/g,'')" value="@param.DefaultValue">
                        }
                        else if (param.DataType.ToLower() == "decimal")
                        {
                            <input id="cs_@param.ParamName" type="text" class="form-control form-control-sm"  onkeyup="value=value.replace(/[^\d.]/g,'')" value="@param.DefaultValue">
                        }
                        else
                        { 
                            <input id="cs_@param.ParamName" class="form-control form-control-sm" value="@param.DefaultValue"  />
                        }
                    </td>
                    <td>@param.Remark</td>
                </tr> 
            }
        }

    </tbody>

</table>
