@model ApiDoc.Models.InterfaceModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout_Edit.cshtml";
}

@section StyleSheet
{

    <style type="text/css">
        .w-lab {
            width: 74px;
            text-align: right;
        }
    </style>

}


<ul class="nav nav-pills justify-content-center border-bottom" id="pills-tab" role="tablist">
    <li class="nav-item py-1">
        <a class="nav-link active py-1" id="pills-home-tab"
           data-toggle="pill"
           href="#tab-in"
           role="tab"
           aria-controls="pills-home"
           aria-selected="true"
           data-data="{name:'name'}">
            <i class="fa fa-info mr-1"></i>接口
        </a>
    </li>
    <li class="nav-item py-1 ">
        <a class="nav-link py-1"
           id="pills-profile-tab"
           data-toggle="pill"
           href="#tab-step"
           role="tab"
           aria-controls="pills-profile"
           aria-selected="false"
           data-data="{name:'name1'}">
            <i class="fa fa-code mr-1"></i>步骤
        </a>
    </li>
</ul>


<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="tab-in" role="tabpanel" aria-labelledby="home-tab">
        <div class="container-fluid">

            <input type="hidden" id="txtSN" value="@Model.SN" />
            <input type="hidden" id="txtFKSN" value="@Model.FKSN" />

            <!-- base info -->
            <input type="hidden" id="txtIsStop" value="@Model.IsStop" />
            <div class="border my-2 p-2 bg-light">
                <div class="btn-toolbar mb-2" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-sm border-bottom" role="group" aria-label="First group">
                        <button type="button" class="btn btn-info">接口信息</button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="保存接口" onclick="btnSaveIntterface_Click()"><i class="fa fa-save"></i></button>

                        @if (Model.IsStop)
                        {
                            <button type="button"
                                    class="btn btn-default"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="启用/停用接口"
                                    onclick="btnStopIntterface_Click()">
                                <i id="iPlay" class="fa fa-play-circle"></i>
                            </button>
                        }
                        else
                        {
                            <button id="btnStop" type="button"
                                    class="btn btn-default"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="启用/停接口"
                                    onclick="btnStopIntterface_Click()">
                                <i id="iPlay" class="fa fa-play-circle text-success"></i>
                            </button>
                        }
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="发布接口" onclick="btnUpLoad_Click()"><i class="fa fa-upload"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="测试接口" onclick="showCS()"><i class="fa fa-link"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="检验接品" onclick="showBugInfo()"><i class="fa fa-bug text-success"></i></button>
                    </div>
                </div>
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text w-lab">标题</div>
                    </div>
                    <input type="text" class="form-control" id="txtTitle" value="@Model.Title">

                    <!-- 事物 -->
                    <div class="custom-control custom-radio custom-control-inline ml-2">
                        <input type="radio" id="chkIsJms" name="customRadioTran" class="custom-control-input" checked="@Model.IsJms">
                        <label class="custom-control-label" for="chkIsJms">JMS事物</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="txtStepIsTransaction" name="customRadioTran" class="custom-control-input" checked="@Model.IsTransaction">
                        <label class="custom-control-label" for="txtStepIsTransaction">单机事物</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">

                        @if (Model.IsJms == false && @Model.IsTransaction == false)
                        {

                            <input type="radio" id="txtStepNoTransaction" name="customRadioTran" class="custom-control-input" checked="checked">
                        }
                        else
                        {

                            <input type="radio" id="txtStepNoTransaction" name="customRadioTran" class="custom-control-input">
                        }

                        <label class="custom-control-label" for="txtStepNoTransaction">无事物</label>
                    </div>
                </div>

                <!-- Url -->
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text w-lab">Url</div>
                    </div>
                    @if (Model.SN == 0)
                    {
                        <input type="text" class="form-control" id="txtUrl" value="@ViewData["FullPath"]" />
                    }
                    else
                    {
                        <input type="text" class="form-control bg-white" id="txtUrl" value="@Model.Url" readonly="readonly" />
                    }
                </div>

                <div class="row">

                    <!-- 数据格式 -->
                    <div class="col input-group input-group-sm ">
                        <div class="input-group-prepend">
                            <div class="input-group-text w-lab">数据格式</div>
                        </div>
                        <select class="custom-select mr-sm" id="cbxSerializeType">
                            @foreach (string st in (List<string>)ViewData["SerializeType"])
                            {
                                if (st == Model.SerializeType)
                                {
                                    <option value="@st" selected>@st</option>
                                }
                                else
                                {
                                    <option value="@st">@st</option>
                                }
                            }

                        </select>
                    </div>

                    <!-- 结果集类型 -->
                    <div class="col input-group input-group-sm">
                        <div class="input-group-prepend">
                            <div class="input-group-text ">结果集</div>
                        </div>
                        <select class="custom-select mr-sm" id="cbxExecuteType">
                            @foreach (string value in (List<string>)ViewData["ExecuteType"])
                            {
                                if (Model.ExecuteType == value)
                                {
                                    <option value="@value" selected>@value</option>
                                }
                                else
                                {
                                    <option value="@value">@value</option>
                                }
                            }
                        </select>
                    </div>

                    <!-- 发送方法 -->
                    <div class="col input-group input-group-sm">
                        <div class="input-group-prepend">
                            <div class="input-group-text w-lab">发送方法</div>
                        </div>
                        <select class="custom-select" id="cbxMethod">
                            @if (Model.Method == "Post")
                            {
                                <option value="Post" selected>Post</option>
                                <option value="Get">Get</option>
                            }
                            else
                            {
                                <option value="Post">Post</option>
                                <option value="Get" selected>Get</option>
                            }

                        </select>
                    </div>

                    <!-- 数据库类型-->
                    <div class="col input-group input-group-sm">
                        <div class="input-group-prepend">
                            <div class="input-group-text">数据库类型</div>
                        </div>
                        <select class="custom-select mr-sm" id="cbxDataType">
                            @foreach (string value in (List<string>)ViewData["DataBaseType"])
                            {
                                if (Model.DataType == value)
                                {
                                    <option value="@value" selected>@value</option>
                                }
                                else
                                {
                                    <option value="@value">@value</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <!-- param -->
            <div class="p-0 mt-2">
                <div class="btn-toolbar ml-2" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-sm mb-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-info">接口参数</button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="添加参数" onclick="showParamWin(0)"><i class="fa fa-plus"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="修改参数" onclick="showParamWin(1)"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="删除参数" onclick="showParamDelete()"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="刷新参数" onclick="btnSeachParam_Click()"><i class="fa fa-refresh"></i></button>
                    </div>
                </div>
                <div id="myParamList" class="overflow-auto" style="height:calc(100vh - 270px);"></div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab-step" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container-fluid">
            <!--Step -->
            <div class="btn-toolbar my-2" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group btn-group-sm" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-info">接口步骤</button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" onclick="showFlowStep(0)"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" onclick="showFlowStep(1)"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" onclick="btnShowFlowStepDelete()"><i class="fa fa-trash-o"></i></button>

                </div>
            </div>
            <div id="myStepList">
            </div>
        </div>
    </div>
</div>

<partial name="_AddPartial.cshtml" />
<partial name="_PartialCS.cshtml" />

<partial name="~/Views/Shared/_ToastPartial.cshtml" />
<partial name="~/Views/Shared/_ModalPartial.cshtml" />

@section Scripts
{
    <script src="~/js/interface.js"></script>
    <script src="~/js/interface-cs.js"></script>
    <script src="~/js/flowstep.js"></script>
    <script src="~/js/flowstep-his.js"></script>
    <script src="~/js/flowstep-param.js"></script>
    <script src="~/js/interface-param.js"></script>
    <script src="~/js/xnTable.js"></script>
    <script src="~/js/website.js"></script>
}

