@model List<ApiDoc.Models.InterfaceModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Form.cshtml";
}

@section StyleSheet
{
    <style type="text/css">

        .title thead, .title th {
            border: 0px;
        }

        .dg-list {
            overflow: auto;
            height: calc(100% - 32px);
        }

        .datagrid-cell-m {
            font-size: 13px;
            text-align: center;
        }

        .color-get {
            color: #63aeff;
        }

        .color-post {
            color: #4acf94;
        }
    </style>
}

<div id="myDelete" class="toast position-fixed " role="alert" aria-live="assertive" aria-atomic="true" style="top:50%; left:50%; z-index:5;">
    <div class="toast-body bg-warning text-white">
        请选择要删除的数据
    </div>
</div>

<div id="mySelect" class="toast position-fixed " role="alert" aria-live="assertive" aria-atomic="true" style="top:50%; left:50%; z-index:5;">
    <div class="toast-body bg-warning text-white">
        请选择要修改的数据
    </div>
</div>

<input type="hidden" id="txtFKSN" value="@ViewData["FKSN"]" />

<div class="container-fluid absolute-left w-width-180 border-right  p-3">

    <table class="table title m-0 table-sm">
        <tbody>
            <tr class="row no-gutters text-center border-top border-bottom bg-light">
                <td class="col-auto pl-1 pr-1 border-top-0 ">@Model.Count</td>
                <td class="col-auto border-top-0 ">
                    <div class="custom-control custom-checkbox ml-1">
                        <input type="checkbox" class="custom-control-input" id="checkAll" name="checkAll" onchange="checkAll(this, 'chk' )">
                        <label class="custom-control-label" for="checkAll"></label>
                    </div>
                </td>
                <td class="col-1 border-top-0 ">方法</td>
                <td class="col-5 text-left border-top-0 ">标题</td>
                <td class="col-5 text-left border-top-0 ">接口地址</td>
            </tr>
        <tbody>
    </table>

    <div class="dg-list">
        <table class="table table-hover table-sm">
            <tbody>
                @for (int rowIndex = 1; rowIndex <= Model.Count; rowIndex++)
                {
                    var folder = Model[rowIndex - 1];
                    <tr class="row no-gutters border-bottom border-top-0 ">
                        <td class="col-auto pl-1 pr-1 border-top-0">@rowIndex</td>
                        <td class="col-auto border-top-0">
                            <div class="custom-control custom-checkbox ml-1">
                                <input type="checkbox" class="custom-control-input" id="customCheck_@rowIndex" name="chk" value="@folder.SN">
                                <label class="custom-control-label" for="customCheck_@rowIndex"></label>
                            </div>
                        </td>
                        @if (folder.Method == "Get")
                        {
                            <td class="col-1 datagrid-cell-m color-get border-top-0">GET</td>
                        }
                        else
                        {
                            <td class="col-1 datagrid-cell-m color-post border-top-0">POST</td>
                        }
                        <td class="col-5 text-truncate border-top-0">@folder.Title</td>
                        <td class="col-5 text-truncate border-top-0">@ViewData["host"]@folder.Url</td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>
<div class="absolute-right w-180">
    <div class="card border-0">
        <div class="tool-title">查询</div>
        <div class="card-body p-2">
            <div class="input-group input-group-sm mb-1">
                <input id="txtTitle" type="text" value="@ViewData["keyTitle"]" class="form-control" placeholder="标题" aria-label="Search" aria-describedby="basic-addon2" autocomplete="off">
            </div>
            <div class="input-group input-group-sm">
                <input id="txtUrl" type="text" value="@ViewData["keyUrl"]" class="form-control" placeholder="Url" aria-label="Search" aria-describedby="basic-addon2" autocomplete="off">
                <div class="input-group-append cur-pointer" onclick="btnSearch_Click(@ViewData["FKSN"])">
                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="tool-title">工具箱</div>
    <div class="tool-items">
        <div onclick="btnShowAdd_Click()" class="tool-item"><div class="fa fa-plus mr-3"></div>添加接口</div>
        <div onclick="btnShowUpdate_Click()" class="tool-item"><div class="fa fa-edit mr-3"></div>修改接口</div>
        <div onclick="btnShowDeleteInter_Click()" class="tool-item"><div class="fa fa-trash mr-3"></div>删除接口</div>
    </div>
</div>


<!-- 接口删除窗口 -->
<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">请确认是否要删除</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="btnDeleteIntterface_Click()">确认</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/interface-list.js"></script>

}

