@using ApiDoc.Models.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApiDoc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/font/css/zico.css" />
    <link rel="stylesheet" href="~/css/font/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("StyleSheet", false)

</head>
<body>
    <input type="hidden" id="txtHost" value="@Url.Content("~")" />
    <nav class="navbar sticky-top navbar-expand-sm navbar-light border-bottom box-shadow mb-3" style="padding-left:0px;">
        <a class="navbar-brand text-right w-240 font-weight-bold" style="color:var(--themecolor); " asp-area="" asp-controller="Home" asp-action="Index">ApiDoc 官方文档</a>

        <div class="container w-240 no-gutters">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    @foreach (NavItem item in (List<NavItem>)ViewData["Nav"])
                    {
                    <li class="nav-item mr-3">
                        <a class="nav-link" style="color:@item.ActiveColor;" asp-controller="@item.Controller" asp-action="Index">
                            <i class="fa @item.Icon"></i>&nbsp;@item.Text</a>
                    </li>
                    }
                    
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/url.js"></script>

    @RenderSection("Scripts", required: false)
 
</body>
</html>
