@model ApiDoc.Models.Components.MyConfig

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills justify-content-center mb-3 border-bottom pb-2" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">授权中心</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-database-tab" data-toggle="pill" href="#pills-database" role="tab" aria-controls="pills-database" aria-selected="false">数据库</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-jms-tab" data-toggle="pill" href="#pills-jms" role="tab" aria-controls="pills-jms" aria-selected="false">分布式</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">

    <!-- 授权中心 -->
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="container-fluid">
            <form>
                <div class="form-group">
                    <label for="txtSecurityKey">验证码:</label>
                    <textarea id="txtSecurityKey" class="form-control" rows="10">@Model.JWTTokenOptions.SecurityKey</textarea>
                </div>

                <div class="form-group row">
                    <button class="btn btn-info ml-3" type="button">
                        生成码
                    </button>
                    <button class="btn btn-info ml-2" type="button" onclick="showCreateAuthorize()">
                        <i class="fa fa-save"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>

    <!-- 数据库配置 -->
    <div class="tab-pane fade" id="pills-database" role="tabpanel" aria-labelledby="pills-database-tab">
        <div class="btn-toolbar ml-3 mb-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group btn-group-sm" role="group" aria-label="Second group">
                <button type="button" class="btn btn-light">保存操作</button>
                <button type="button" class="btn btn-info" data-toggle="tooltip" onclick="btnSaveDataBase()"><i class="fa fa-save"></i></button>
            </div>
        </div>
        <div class="container-fluid px-3 no-gutters row">
            <div class="bg-light px-3 border col-4">

                <div class="col-form-label">SqlServer</div>
                <div class="form-group row pr-2">
                    <label for="txtSqlServerApiDocConnStr" class="col-2 col-form-label fs-14 p-0 pl-2 pt-1">ConnStr:</label>
                    <input id="txtSqlServerApiDocConnStr" class="col-10 form-control" value="@Model.DataType.SqlServer.ApiDocConnStr" />
                </div>
                <div class="form-group row pr-2">
                    <label for="txtSqlServerDataBases" class="col-2 col-form-label fs-14 p-0 pl-2 pt-1">数据库:</label>
                    @{
                        var dataBase = "";
                        @foreach (string dbName in @Model.DataType.SqlServer.DataBases)
                        {
                            @if (dataBase != "")
                            {
                                dataBase += "\n";
                            }
                            dataBase += dbName;
                        }

                        <textarea id="txtSqlServerDataBases" wrap="hard" class="col-10 form-control" rows="15">@dataBase</textarea>
                    }

                </div>
            </div>

            <div class="bg-light px-3 border col-4">
                <div class="col-form-label">MySql</div>
                <div class="form-group row pr-2">
                    <label for="txtMySqlApiDocConnStr" class="col-2 col-form-label fs-14 p-0 pl-2 pt-1">ConnStr:</label>
                    <input id="txtMySqlApiDocConnStr" class="col-10 form-control" value="@Model.DataType.MySql.ApiDocConnStr" />
                </div>
                <div class="form-group row pr-2">
                    <label for="txtMySqlDataBases" class="col-2 col-form-label fs-14 p-0 pl-2 pt-1">数据库:</label>

                    @{
                        var dataBase1 = "";
                        @foreach (string dbName in @Model.DataType.MySql.DataBases)
                        {
                            @if (dataBase1 != "")
                            {
                                dataBase1 += "\n";
                            }
                            dataBase1 += dbName;
                        }

                        <textarea id="txtMySqlDataBases" class="col-10 form-control" rows="15">@dataBase1</textarea>
                    }


                </div>
            </div>

            <div class="bg-light px-3 border col-4">
                <div class="col-form-label">Oracle</div>
                <div class="form-group row pr-2">
                    <label for="txtOracleApiDocConnStr" class="col-2 col-form-label fs-14 p-0 pl-2 pt-1">ConnStr:</label>
                    <input id="txtOracleApiDocConnStr" class="col-10 form-control" value="@Model.DataType.Oracle.ApiDocConnStr" />
                </div>
                <div class="form-group row pr-2">
                    <label for="txtOracleDataBases" class="col-2 col-form-label fs-14 p-0 pl-2 pt-1">数据库:</label>

                    @{
                        var dataBase2 = "";
                        @foreach (string dbName in @Model.DataType.Oracle.DataBases)
                        {
                            @if (dataBase2 != "")
                            {
                                dataBase2 += "\n";
                            }
                            dataBase2 += dbName;
                        }

                        <textarea id="txtOracleDataBases" class="col-10 form-control" rows="15">@dataBase2</textarea>
                    }
                </div>
            </div>
        </div> 
    </div>

    <div class="tab-pane fade" id="pills-jms" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="container-fluid">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group btn-group-sm" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-light">保存操作</button>
                    <button type="button" class="btn btn-info" data-toggle="tooltip" onclick="btnSaveGateWay()"><i class="fa fa-save"></i></button>
                    <button type="button" class="btn btn-info" data-toggle="tooltip" title="获取网关" onclick="btnGetGateWay()"><i class="fa fa-bank"></i></button>
                </div>
            </div>
            <div class="border pl-3 pt-1 pr-3 pb-3"> 
                <div class="col-form-label">网关配置</div>
                <div class="form-group row">
                    <label for="txtGateWayAddress" class="col-form-label col-2">地址:</label>
                    @if (Model.GatewayAddress != null)
                    {
                <input id="txtGateWayAddress" class="form-control col-5" value="@Model.GatewayAddress.Address" />
                    }
                    else
                    {
                <input id="txtGateWayAddress" class="form-control col-5" value="" />
                    }
                </div>
                <div class="form-group row">
                    <label for="txtGateWayPort" class="col-form-label col-2">端口:</label>

                    @if (Model.GatewayAddress != null)
                    {
                        <input id="txtGateWayPort" class="form-control col-5" value="@Model.GatewayAddress.Port" />
                    }
                    else
                    {
                        <input id="txtGateWayPort" class="form-control col-5" value="" />
                    } 
                </div>

                <div class="form-group">
                    <label for="txtGateWayPort" class="col-form-label">服务列表:</label>

                    @{

                        var serviceNames = "";
                        @foreach (string dbName in @Model.GatewayAddress.ServiceNames)
                        {
                            @if (serviceNames != "")
                            {
                                serviceNames += "\n";
                            }
                            serviceNames += dbName;
                        }
                        <textarea id="txtServices" class="form-control" rows="3">@serviceNames</textarea>
                    }
                </div>
            </div>
        </div> 
    </div>
</div>

<partial name="~/Views/Shared/_ToastPartial.cshtml" />
<partial name="~/Views/Shared/_ModalPartial.cshtml" />

@section Scripts
{
    <script src="~/js/myConfig.js"></script>
}

